#barplot-container {
    margin-left: 5rem;
    margin-right: 5rem;
}

#radialplot-container {
    margin-left: 5rem;
    margin-right: 5rem;
}

@media (max-width: 1024px) {

    #barplot-container {
        /* margin-top: 15rem; */
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #radialplot-container {
        margin-top: 15rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}