#overview {
    padding: 1rem;
}

@media (max-width: 1024px) {
    #image-container {
        margin-top: -10rem;
        padding: 8rem;
    }

    #button-row {
        display: none;
    }

    #overview {
        margin-top: -10rem;
        padding: 0rem;
    }

}