#searchBarContainer {
    margin: 0;
    padding: 0;
    background-image: url("../assets/bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;
    min-width: 100vw;
}