.grid line {
  stroke: #ccc;
  stroke-width: 1;
  stroke-dasharray: 4 2;
}

#header {
  width: 95%;
  margin: auto;
  border-radius: 2rem;
  margin-top: 1rem;
  background-image: url("../../assets/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
